.bar-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    color: #000;
    width: fit-content;
    width: 90%;
    height: 95%;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
}

:host {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}