<div class="bar-chart">
    <div class="bar-chart-title">
        <span class="title">Munkafelvevő</span>
        <input type="checkbox" id="switch1" />
        <label for="switch1">Toggle</label>
    </div>
    <div class="bar-chart-content">
        <div class="bar-chart-content-title">
            <span class="title">Munkafelvevő</span>
            <input type="checkbox" id="switch" />
            <label for="switch">Toggle</label>
        </div>
        <div class="bar-chart-content-data">
            <div class="bar-chart-content-data-item">
                <span class="title">Munkafelvevő</span>
                <span class="value">Munkafelvevő</span>
            </div>
            <div class="bar-chart-content-data-item">
                <span class="title">Munkafelvevő</span>
                <span class="value">Munkafelvevő</span>
            </div>
            <div class="bar-chart-content-data-item">
                <span class="title">Munkafelvevő</span>
                <span class="value">Munkafelvevő</span>
            </div>
        </div>
    </div>
</div>