:host {
    width: 100%;
    height: 100%;
}

.dash-container {
    .stats {
        margin: 2rem 3rem;
    }

    .below {
        margin-top: 2rem;

        div {
            display: flex;
            width: 100%;
            justify-content: space-between;
            height: 100%;
            margin-top: 2rem;
            max-height: fit-content;
            bar-chart {
                margin: 0 1rem;
                width: 60%;
                height: initial;
            }

            
        }
    }

    .small-stats {
        &-title {
            font-size: 2rem;
            font-weight: 600;
            color: #121219;
            margin-bottom: 2rem;
        }
        overall-stats {
            margin-top: 2rem;
        }
    }
}


@media (max-width: 768px) {
    .dash-container {
        margin-top: 5rem;
    }
}

.stat-container {
    display: flex;
    margin-top: 1rem;
    
    statistic {
        margin: 0 1rem;
    }

    statistic:first-of-type {
        margin-right: 1rem;
        margin-left: 0;
    }

}


// on mobile make the width 100% and the flex column    
@media (max-width: 768px) {
    .stat-container {
        flex-direction: column;
        width: 100%;
        align-items: center;

        statistic {
            margin: 0 0;
            margin-bottom: 1rem;
        }

        statistic:first-of-type {
            margin-right: 0;
            margin-left: 0;
        }
    }
}