<div class="dash-container">
  <div class="stats">
    <span class="small-stats-title">Adatok</span>
    <overall-stats></overall-stats>
  </div>
  <div class="stats below">
    <span class="small-stats-title">Részletes adatok</span>
    <div class="flex-container">
      <data-picker
        [title]="'Munkafelvevő'"
        [options]="employers$ | async"
        (onToggleEmitter)="onToggle($event, 'employer')"
        (onToggleAllEmitter)="onToggleAll($event, 'employer')"
      ></data-picker>
      <bar-chart 
        [labels]="toggledMechanics$"
      ></bar-chart>
      <data-picker
        [title]="'Szerelő'"
        [options]="mechanics$ | async"
        (onToggleEmitter)="onToggle($event, 'mechanic')"
        (onToggleAllEmitter)="onToggleAll($event, 'mechanic')"
      ></data-picker>
    </div>
  </div>
</div>
