:host {
  width: 100%;
  height: 100%;
}

.dash-container {
  overflow: hidden;

  .stats {
    margin: 2rem 3rem;
  }

  .below {
    margin-top: 2rem;

    div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      height: 100%;
      margin-top: 2rem;
      max-height: fit-content;

      bar-chart {
        margin: 0 1rem;
        width: 60%;
        height: initial;
      }


    }
  }

  .small-stats {
    &-title {
      font-size: 2rem;
      font-weight: 600;
      color: var(--titleColor);
      margin-bottom: 2rem;
    }

    overall-stats {
      margin-top: 2rem;
    }
  }
}

.stat-container {
  display: flex;
  margin-top: 1rem;

  statistic {
    margin: 0 1rem;
  }

  statistic:first-of-type {
    margin-right: 1rem;
    margin-left: 0;
  }

}

.small-stats-title {
  position: relative;
  z-index: 99999;
}



.dash-container {
  //margin-top: 5rem;
}

// on mobile make the width 100% and the flex column    
@media (max-width: 768px) {
  .below {
    div {
      flex-direction: column;
    }
  }
}