<div class="data-picker">
    <div class="row">
        <span class="title">{{ title }}</span>
        <input type="checkbox" [id]="'switchall'+ title" (click)="onToggleAll($event)" checked/>
        <label [for]="'switchall'+ title">Toggle</label>
    </div>
    <div class="row">
        <ul>
            <li *ngFor="let option of options; index as i">
                {{ option.name }}
                <input type="checkbox" [id]="'switch'+title +i" (click)="onToggle(option)" [(checked)]="option.isToggled"/>
                <label [for]="'switch'+title +i">Toggle</label>
            </li>
        </ul>
    </div>  
</div>
