<div class="data-picker">
    <div class="row row-title">
        <span class="title">{{ title }}</span>
        <input type="checkbox" [id]="'switchall'+ title" (click)="onToggleAll($event)" />
        <label [for]="'switchall'+ title">Toggle</label>
    </div>
    <div class="row below">
        <ul>
            <li *ngFor="let option of options; index as i">
                {{ option.nev }}
                <input type="checkbox" [id]="'switch'+ title +i" (change)="onToggle(option)" [(checked)]="option.isToggled"/>
                <label [for]="'switch'+ title +i">Toggle</label>
            </li>
        </ul>
    </div>  
</div>