<div class="data-picker">
    <div class="row">
        <span class="title">Munkafelvevő</span>
        <input type="checkbox" id="switch1" />
                <label for="switch1">Toggle</label>
    </div>
    <div class="row">
        <ul>
            <li>
                <span >Munkafelvevő</span>
                <input type="checkbox" id="switch" />
                <label for="switch">Toggle</label>
            </li>
            <li>
                <span>Valami</span>
            </li>
            <li>
                <span>Valami</span>
            </li>
        </ul>
    </div>  
</div>