<div class="statistic-container">
  <div class="icon">
    <svg
      class="icon icon-automobile, car"
      [attr.viewBox]="viewBox"
      [ngStyle]="{ fill: color }"
    >
      <path [attr.d]="icon"></path>
    </svg>
    <div
      class="circle"
      [ngStyle]="{ 'background-color': color, opacity: 0.3 }"
    ></div>
  </div>
  <div class="text">
    <span class="value">{{ value }} {{ suffix }}</span>
    <span class="title">{{ title }}</span>
    <div class="fluxuation">
      <span><span>&uarr;</span>14%</span> a múlt héthez képest
    </div>
  </div>
</div>
