:host {
    width: 100%;
}

.time-selector-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    padding: .5rem;
    color: #A3A3B2;
    font-size: 16px;
    cursor: pointer;
}

input[type="radio"]:checked {
    display: none;
}

input[type="radio"]:checked + span {
    color: #742CDF;  
    font-weight: 500;
}

.selector-container {
    background-color: #F5F7FB;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #742CDF;
    border-radius: 10px;
    padding: 0 0.2rem;
    margin: 0 2rem;
    span {
        padding: 0 1rem;
        color: #fff;
        font-size: 19px;
        cursor: pointer;
    }
}

.time-controller-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: min-content;

    .time-frame-text {
        font-weight: 500;
        font-size: 20px;
        color: #767684;
        white-space: nowrap;
    }
}

