/* You can add global styles to this file, and also import other style files */



html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--bgColor);
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --purple: #742CDF;
  --grey: #A3A3B2;
}

$bgColor_light: #F5F7FB;
$bgColor_dark: #121212;

$bgSecondaryColor_light: #fff;
$bgSecondaryColor_dark: #1E1E1E;

$bgTertiaryColor_light: #F5F7FB;
$bgTertiaryColor_dark: #2A2929;

$bgAccentColor_light: #fff;
$bgAccentColor_dark: #413E3E;

$bgDisabledColor_light: #E9E9E9;
$bgDisabledColor_dark: #242424;

$textColor_light: black;
$textColor_dark: #fff;

$titleColor_light: #121219;
$titleColor_dark: #fff;

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --bgSecondaryColor: #{$bgSecondaryColor_light};
  --bgTertiaryColor: #{$bgTertiaryColor_light};
  --bgAccentColor: #{$bgAccentColor_light};
  --bgDisabledColor: #{$bgDisabledColor_light};
  --textColor: #{$textColor_light};
  --titleColor: #{$titleColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --bgSecondaryColor: #{$bgSecondaryColor_dark};
  --bgTertiaryColor: #{$bgTertiaryColor_dark};
  --bgAccentColor: #{$bgAccentColor_dark};
  --bgDisabledColor: #{$bgDisabledColor_dark};
  --textColor: #{$textColor_dark};
  --titleColor: #{$titleColor_dark};
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body.dark {
  @include darken();
}

body.light {
  @include lighten();
}
